  #root {
    --fav-size: 24px;
    --tabs-margin: 6px;
    --tabs-inner-gap: var(--tabs-margin);
    --scrollbar-size: 8px; /* thin scrollbars */
  }
  /* -------------- tree: tab title - scroll */
  /* ------- set t-box width and mask, declare title variables */
  .Tab .t-box,
  .ClosedTabsSubPanel .closed-tab .t-box {
    --non-title-elem-width-scroll: calc(var(--tabs-margin) * 2 + var(--tabs-inner-gap) * 3 + var(--fav-size) + var(--tabs-indent) * var(--tree-lvl) + var(--scrollbar-size));
    --non-title-elem-width: var(--non-title-elem-width-scroll);
    --visible-title-width: calc(100vw - var(--non-title-elem-width));
    width: var(--visible-title-width);
    min-width: fit-content;
    mask: linear-gradient(to right, #000 calc(var(--visible-title-width) - var(--tabs-inner-gap)), #0000 var(--visible-title-width)) !important;
  }
  /* ------- different non-title-elem-width for close button */
  #root[data-tabs-close-btn="always"] .Tab .t-box,
  #root[data-tabs-close-btn="hover"] .Tab:hover .t-box {
    --close-button-width: var(--fav-size) + var(--tabs-inner-gap);
    --non-title-elem-width-scroll: calc(var(--tabs-margin) * 2 + var(--tabs-inner-gap) * 3 + var(--fav-size) + var(--tabs-indent) * var(--tree-lvl) + var(--scrollbar-size) + var(--close-button-width));
  }
  /* ------- different non-title-elem-width for non-scrolling */
  .TabsPanel .top-shadow[data-show="false"] + .bottom-shadow[data-show="false"] + .scroll-container .Tab .t-box,
  .ClosedTabsSubPanel .top-shadow[data-show="false"] + .bottom-shadow[data-show="false"] + .scroll-container .closed-tab .t-box {
    --non-title-elem-width: calc(var(--non-title-elem-width-scroll) - var(--scrollbar-size));
  }
  /* ------- title animation, declare title offset */
  .Tab .t-box .title,
  .ClosedTabsSubPanel .closed-tab .t-box .title {
    --title-offset: calc(var(--visible-title-width) - 100%);
    transition: margin-left 1.5s 0.25s ease;
  }
  /* ------- remove mask when hovered, not selected, and context menu is inactive */
  .CtxMenu[data-active="false"] ~ .main-box .Tab[data-selected="false"]:hover .t-box,
  .ClosedTabsSubPanel .closed-tab:hover .t-box {
    mask: linear-gradient(to right, #000 var(--visible-title-width), #0000 var(--visible-title-width)) !important;
  }
  /* ------- offset title when hovered, not selected, and context menu is inactive */
   .CtxMenu[data-active="false"] ~ .main-box .Tab[data-selected="false"]:hover .t-box .title,
  .ClosedTabsSubPanel .closed-tab:hover .t-box .title {
    margin-left: min(var(--title-offset), 0px);
  }